.table {
  margin-top: 10px;
  color: rgb(106, 119, 136);
  &__header {
    display: flex;
    color: rgb(60, 75, 100);
    font-weight: 700;
    font-size: 18px;
    height: 50px;
    @media (max-width: 600px) {
      font-size: 14px;
    }

    &-task {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 35%;
      height: 100%;
      font-size: 16px;
      border: 1px solid rgb(235, 238, 240);
      @media (max-width: 600px) {
        font-size: 14px;
        width: 20%;
      }
    }
    &-hours {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 15%;
      height: 100%;
      font-size: 16px;
      border: 1px solid rgb(235, 238, 240);
      @media (max-width: 600px) {
        font-size: 14px;
        width: 12%;
      }
    }
    &-teachers {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      gap: 5px;
      height: 100%;
      font-size: 16px;
      border: 1px solid rgb(235, 238, 240);
      @media (max-width: 600px) {
        font-size: 14px;
        flex-grow: 1;
      }
      &-groups {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 100%;
        font-size: 16px;
        border: 1px solid rgb(235, 238, 240);
        @media (max-width: 600px) {
          font-size: 12px;
          flex-grow: 1;
        }
      }
    }
  }
}
